@media (min-width:800px){
    body{
        top: 0px;
        background-color: #8CB24C;
    }
    main{
        transform: translateX(20%);
        border-radius: 20px;
        background-color: white;
        width: 560px;
        margin: 20px auto;
    }
    #title{
        top: 0px;
    }
    
    .header{
        position: fixed;
        top: 10%;
        width: 220px;
        height: 800px;
        background-color: rgba(0,0,0,0);
        box-shadow: none;
    }
    .header__inner{
        padding: 0px;
        background-color: rgba(0,0,0,0);
    }
    .btn-div{
        width: 450px;
    }
    .hamburger{
        display: none;
    }
    #header-title{
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 0px;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 20px;
        border-radius: 0px 30px 30px 0px;
    }
    .nav__items{
        width: 100%;
        padding: 20px 0px;

    }
    #neriCon{
        width: 70%;
        margin: 0px;
        position: relative;
        top: 25px;
    }
    .header__nav{
        position: absolute;
        top: 60%;
        transform: translateX(0);
        transform: translateY(-60%);
        height: 50%;
        border-radius: 0% 20px 20px 0%;
        font-size: smaller;
    }
    .nav-items__item a:hover{
        color: #8CB24C;

    }
    



    .border-tags{
        border: none;
    }

    .tag:hover{
        transform:translateX(-200px);
        background-color: #8CB24C;
        color: white;
        border: none;
    }

    footer{
        background-color: white;
        color: #504E40;
    }
}
